.height-lg{
    height: 92vh;
}

.shadow-bar {
    /* border: red 2px solid; */
    padding: 2%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 5%;
    margin-right: 5%;
}

.justify {
    text-align: justify;
}